*{
    margin: auto;
    padding: auto;
    font-family: sans-serif;
}
header {
background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), url(coffeebg.jpg);
background-repeat: no-repeat;
height: 100vh;
background-size: cover;
background-position: center;
min-height: 100px;
}
nav {
    float: right;
    list-style: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;
}
.Slog .Sign a {
    border:  2px solid;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
}
nav li {
    display: inline-block;
}
nav li a{
    text-decoration: none;
    color: white;
    padding:  10px 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    transition: 0.5s;
}
nav li a:hover{
    color: rgb(151, 75, 25);
    background-color:  rgba(221, 220, 220, 0.108);
}
div a image .LOG{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    border:  1px solid transparent;
    border: 20px;
    transition: 0.5s;
}
.LOG a:hover{
    color: rgba(255, 168, 75, 0.616);
    background-color: white;
}

.About{
    background-image: none, url(BlankWHITE.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
h2{
    float: center;
    text-align: center;
    font-family:sans-serif;
    text-size-adjust: 45px;
    font-size:68px;
}
.heading span{
    color:var(--rgba(255, 168, 75, 0.616)) ;
}
